/* slider.css */
.slider-thumb {
    -webkit-appearance: none; /* Vô hiệu hóa mặc định */
    appearance: none;
    width: 100%;
    height: 8px; /* Chiều cao của thanh trượt */
    border-radius: 5px; /* Bo tròn góc */
    background: linear-gradient(to right, #ff0000 0%, #ff0000 var(--value, 0%), #e2e2e2 var(--value, 0%), #d1d1d1 100%);
    
    transition: background 0.2s; /* Hiệu ứng chuyển đổi */
  }
  
  /* Thumb styling cho WebKit */
  .slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none; /* Vô hiệu hóa mặc định */
    appearance: none;
    width: 20px; /* Kích thước chấm */
    height: 20px; /* Kích thước chấm */
    background-color: #ff0000; /* Màu chấm */
    border-radius: 50%; /* Bo tròn chấm */
    cursor: pointer; /* Con trỏ khi di chuột lên chấm */
    transition: background-color 0.2s, width 0.2s, height 0.2s, transform 0.2s; /* Thêm hiệu ứng chuyển đổi */
  }
  
  /* Hiệu ứng hover */
  .slider-thumb::-webkit-slider-thumb:hover {
    background-color: #ff0000; /* Màu chấm khi hover */
    transform: scale(1.1); /* Tăng kích thước chấm */
  }
  
  /* Hiệu ứng khi nhấn */
  .slider-thumb::-webkit-slider-thumb:active {
    width: 28px; /* Kích thước khi nhấn */
    height: 28px; /* Kích thước khi nhấn */
    background-color: #ff0000; /* Màu chấm khi nhấn */
    transform: scale(1.1); /* Tăng kích thước chấm */
  }
  
  /* Thumb styling cho Firefox */
  .slider-thumb::-moz-range-thumb {
    width: 20px; /* Kích thước chấm */
    height: 20px; /* Kích thước chấm */
    background-color: #ff0000; /* Màu chấm */
    border-radius: 50%; /* Bo tròn chấm */
    cursor: pointer; /* Con trỏ khi di chuột lên chấm */
    transition: background-color 0.2s, width 0.2s, height 0.2s, transform 0.2s; /* Thêm hiệu ứng chuyển đổi */
  }
  
  /* Hiệu ứng khi nhấn */
  .slider-thumb::-moz-range-thumb:active {
    width: 28px; /* Kích thước khi nhấn */
    height: 28px; /* Kích thước khi nhấn */
    background-color: #ff0000; /* Màu chấm khi nhấn */
    transform: scale(1.1); /* Tăng kích thước chấm */
  }
  